.header {
  h1 {
    all: initial;
    color: tomato;
    font-family: "Roboto Mono", monospace;
  }

  padding: 0.2em 0.4em;
  border-bottom: 1px solid tomato;
  color: tomato;
  margin-bottom: 3.6em;

  nav {
    display: flex;
  }

  a {
    text-decoration: none;
    color: tomato;
    margin-left: auto;
    font-family: "Roboto Mono", monospace;
  }

  a:before {
    content: "@";
  }
}
