.nav {
  display: flex;
  margin: 0.6em 0;
  
  button {
    width: 50%;

    color: tomato;
    background-color: white;
    width: 100%;
    font-size: 1rem;
    height: 2.5em;
    border: 1px solid tomato;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;

    transition: 0.1s;
    &:hover {
      background: tomato;
      color: white;
    }

    &:nth-child(1) {
      border-right-width: 0.5px;
      border-top-left-radius: 0.4em;
      border-bottom-left-radius: 0.4em;
    }

    &:nth-child(2) {
      border-left-width: 0.5px;
      border-top-right-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
    }
  }
}
